.forumBackground {
    background-color:white;
    color:black;
}

.paginationArrow{
    color:dimgray;
    padding-right:15px;
    padding-left:5px;
}

.paginationBar{
    padding:15px;
}

h1{
    font-size:1.7em;
    color:mediumpurple;
}