<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Forum.master.cs" Inherits="EadpProjectVacation.Testing" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title>Vacation - Free Bootstrap 4 Template by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="vacation/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="vacation/css/animate.css">

    <link rel="stylesheet" href="vacation/css/owl.carousel.min.css">
    <link rel="stylesheet" href="vacation/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="vacation/css/magnific-popup.css">

    <link rel="stylesheet" href="vacation/css/aos.css">

    <link rel="stylesheet" href="vacation/css/ionicons.min.css">

    <link rel="stylesheet" href="vacation/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="vacation/css/jquery.timepicker.css">

    <link rel="stylesheet" href="vacation/css/forum.css">

    <link rel="stylesheet" href="vacation/css/flaticon.css">
    <link rel="stylesheet" href="vacation/css/icomoon.css">
    <link rel="stylesheet" href="vacation/css/style.css">

    <style>
        .forumBackground {
    background-color:white;
    color:black;
}

.paginationArrow{
    color:dimgray;
    padding-right:15px;
    padding-left:5px;
}

.paginationBar{
    padding:15px;
}

h1{
    font-size:1.7em;
    color:mediumpurple;
}

.pull-left{
    float:left;
    display:inline-block;
}

.pull-right{
    float:right;
    display:inline-block;
}

.v-middle{
    display:inline-block;
    position:relative;
    vertical-align:middle;
}

.forumModule{
    background-color:white;
    color:black;
}

.forumPad{
    padding-top:15px;
    padding-bottom:15px;
    padding-left:15px;
    padding-right:15px;
}

.forumMargin{
    margin-bottom:30px;
}

.forumTable{
    width:300%;
    height:auto;
    border: 1px solid black;
}

.forumTable:hover{
    
}

.forumTable th{
    padding:5px;
    border:1px solid black;
}

.forumTable td{
    padding:5px;
}
    </style>

    <asp:ContentPlaceHolder ID="headForum" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>

    <!-- top navigation bar-->
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="index.html">Vacation<span>Travel Agency</span></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span>Menu     
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a style="color: black;" href="vacation/index.html" class="nav-link">home</a></li>
                    <li class="nav-item dropdown"><a style="color: black;" href="vacation/about.html" class="nav-link">about</a></li>
                    <li class="nav-item"><a style="color: black;" href="vacation/blog.html" class="nav-link">blog</a></li>
                    <li class="nav-item"><a style="color: black;" href="/" class="nav-link">Maps</a></li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="color:black" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Forum
                        </a>
                        <div class="dropdown-menu" >
                            <a class="dropdown-item" href="#">Ask a question</a>
                            <a class="dropdown-item" href="#">FAQ</a>
                            </div>
                            
                    </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="color:black" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Transportation
                        </a>
                        <div class="dropdown-menu" >
                            <a class="dropdown-item" href="#">Fare-Calculator</a>
                            <a class="dropdown-item" href="#">Driver's Data</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="color:black" href="#"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Event
                        </a>

                        <div class="dropdown-menu" >
                            <a class="dropdown-item" href="#">Your Events</a>
                            <a class="dropdown-item" href="#">What's Going On</a>
                        </div>

                    </li>
                </ul>

            </div>
        </div>
    </nav>


    <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('vacation/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
        <!--<div class="overlay"></div>-->

        <!-- Start of forum layout -
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    text1
                </div>
                <div class="col-lg-4">
                    text2
                </div>
            </div>
        </div>
            -->

        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
                <div class="col-md-9 ftco-animate pb-5 text-center">

                    <asp:ContentPlaceHolder ID="PageNameForum" runat="server">
                    </asp:ContentPlaceHolder>

                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row justify-content-center pb-4">

            <!-- 
            <asp:ContentPlaceHolder ID="ContentPutHere" runat="server">
            </asp:ContentPlaceHolder>
            -->

        </div>
    </div>

    <div>
            <!--
            <asp:ContentPlaceHolder ID="DontTouch" runat="server">
            </asp:ContentPlaceHolder>
            -->

    </div>

    <!--ZJ forum-->
    <section>
    </section>

    <footer class="ftco-footer bg-bottom" style="background-image: url(images/footer-bg.jpg);">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Vacation</h2>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4 ml-md-5">
                        <h2 class="ftco-heading-2">Information</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">Online Enquiry</a></li>
                            <li><a href="#" class="py-2 d-block">General Enquiries</a></li>
                            <li><a href="#" class="py-2 d-block">Booking Conditions</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Experience</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">Adventure</a></li>
                            <li><a href="#" class="py-2 d-block">Hotel and Restaurant</a></li>
                            <li><a href="#" class="py-2 d-block">Beach</a></li>

                        </ul>
                    </div>
                </div>

            </div>

        </div>
    </footer>



    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen">
        <svg class="circular" width="48px" height="48px">
            <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
            <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" />
        </svg>
    </div>


    <script src="vacation/js/jquery.min.js"></script>
    <script src="vacation/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="vacation/js/popper.min.js"></script>
    <script src="vacation/js/bootstrap.min.js"></script>
    <script src="vacation/js/jquery.easing.1.3.js"></script>
    <script src="vacation/js/jquery.waypoints.min.js"></script>
    <script src="vacation/js/jquery.stellar.min.js"></script>
    <script src="vacation/js/owl.carousel.min.js"></script>
    <script src="vacation/js/jquery.magnific-popup.min.js"></script>
    <script src="vacation/js/aos.js"></script>
    <script src="vacation/js/jquery.animateNumber.min.js"></script>
    <script src="vacation/js/bootstrap-datepicker.js"></script>
    <script src="vacation/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="vacation/js/google-map.js"></script>
    <script src="vacation/js/main.js"></script>

</body>
</html>
